*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.titulos{
    font-size: 50px;
    font-weight: 300;
    color: #394a6d;
    text-align: center;
}
.contenedor {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
  }
  
  .contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
  }
  /* header */
  nav {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
    
  }

  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    
    
  }
  .nav .logo {
    height: 70px;
    margin-left: -10px; 
    display: flex; 
    align-items: center;
  }
 .logo h1{
    color: #00bcd4;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .nav .logo img {
    height: 100%;
    vertical-align: top;
    
  }
  .menu-nav {
    font-weight: 400;
    transition: ease-in-out 0.5s;
    
  }
  
  .nav .menu-nav a {
    color: #75b79e;
    font-size: 1.1em;
    text-decoration: none;
    margin-left: 20px;
    
  }
  .menu-nav a:hover{
    
    color: #216353;
    
    
  }
  /* hamburger */
  .hamburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
  }
  
  .hamburguer > i {
    font-size: 25px;
    line-height: 80px;
  }

  /* header */
.contenedor-slider{
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
  
}
.slider-contenedor{
  width: 100%;
  display: flex;
 
 
}

.contenido-slider{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
   flex-shrink: 0;
 
}
.contenido-slider:nth-child(1){
  background: url('../img/1_opt.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;

  /* background: #000; */
}
.contenido-slider:nth-child(4){
  background: url('../img/1_opt.jpg');
  background-size: cover ;
  background-position-y: center;
  background-position-x: center;
 
  
}
.contenido-slider:nth-child(2){
  background: url('../img/3.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
 
}
.contenido-slider:nth-child(3){
 /*  background: #611a68; */
 background: url('../img/2.jpg');
 background-size: cover;
 background-position-y: center;
 background-position-x: center;
}

.textos-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 200px;
  text-align: center;
  border-radius: 3px;
  border-bottom: 10px solid #3c9d9b;
  
}
.textos-slider:nth-child(1){
  /* background: #3c9d9b; */
  background: rgba(63, 191, 191, .5)
 
}
.textos-slider:nth-child(2){
  background: rgba(62, 134, 182, 0.5)
}
.textos-slider:nth-child(3){
  background: rgba(63, 191, 191, .5)
}
.textos-slider h3{
  color: #fff;
  font-weight: 300;
  font-size: 1.9em;
}
/* sobre nosotros */
.sobre-nos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.textos-sobren{
  
  width: 45%;
  text-align: center;
  margin: 50px;
  
}
.textos-sobren p{
  font-weight: 300;
  font-size: 1.3em;
  line-height: 35px;
  margin: 15px;
}
.textos-sobren span{
  color: #3c9d9b;
  font-weight: 600;
  font-style: italic;
}
.sobre-nos >img{
  width: 45%;
}
.sobre-nos-datos{
  margin-top: -20px;
  height: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #75b79e;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}
.datos{
  color: #fff;
  text-align: center;
}
.datos h2{
  font-size: 3em;
  
}
.datos p{
  font-weight: 300;
  font-size: 1.5em;
}
/* servicios */
.servicios-generales{
  /* background: #2570ff; */
  background: rgba(63, 191, 191, .5) url('../img/fondo.jpg');
  background-size: cover;
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
}
.content-servicios{
  display: flex;
  justify-content: space-evenly;
  
}
.servicios{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.servicios .servicio{
  width: 45%;
  height: 150px;
  background: rgba(63, 191, 191, .5);
  color: #fff;
  border-radius: 10px;
  padding: 40px 35px;
  margin-bottom: 20px;
  text-align: center;
}
.servicio{
  display: flex;
  justify-content: start;
  align-items: center;
}
.servicio i{
  font-size: 30px;
  color: #fff;
  display: inline-block;
  width: 70px;
  height: 68px;
  padding-top: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 15px;
  
}
.servicio h4{
  font-size: 1.5em;
  font-weight: 500;
}
/* nuestros profesionales */

.nuestro-equipo{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.equipo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
.foto{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto >img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid rgb(199, 193, 193);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  margin-bottom: 30px;
}
.foto h4{
  color: #216353;
  font-size: 1.4em;
}
.foto p{
  font-weight: inherit;
}

/* contacto */
.contacto{
  background: url("../img/fondoc.png");
}
.info-contacto{
  height: 60vh;
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 100px;
  
}
.direccion, .horarios{
 text-align: center;
  margin-top: 80px;
}
.direccion h3{
  font-size: 1.5em;
  color: #394a6d;
  margin-bottom: 15px;
}
.direccion p{
  font-weight: 500;
}
.horarios h3{
  font-size: 1.5em;
  color: #394a6d;
  margin-bottom: 15px;
}
.horarios p{
  font-weight: 500;
}

/* ubicacion */
.map{
  width: 100%;
overflow: hidden;
}

iframe {
    width: 100%;
    max-height: 600px;
}

/* footer */
footer{
  background: url('../img/fondoc.png');
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
.partFooter{
  width: 30%;
  text-align: center;
}
.partFooter h4{
  color: #394a6d;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.partFooter a{
  display: block;
  text-decoration: none;
  color: #5d6678;
  font-weight: 300;
  transition: color .3s ease-in-out;
  margin-bottom: 10px;

}
.partFooter a:hover{
  color: #00bcd4;
}
.partFooter img{
  width: 40%;
}
.partFooter:nth-child(4){
    flex-grow: 1;
}
.partFooter p{
  margin-top: 35px;
  color: #394a6d;
  
}
.social-media i{
  font-size: 20px;
  display: inline-block;
  color: #adb6c7;
  border: 1px solid #adb6c7;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 36px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: all ease-in-out .3s;
  margin-right: 5px;
}
.social-media i:hover{
  color: #fff;
  background: #00bcd4;
  border-color: #00bcd4;
}

/* media query */
@media screen and (max-width: 800px){

  .menu-nav {
    font-size: 0.9em;
  }
  .titulos{
    font-size: 2.5em;
  }
  .textos-slider h3{
    font-size: 1.5em;
  }

  /* sobre nosotros */
  .sobre-nos{
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
  }
  .textos-sobren{
    
    width: 100%;
    text-align: center;
    margin: 50px;
    
  }
  .sobre-nos >img{
    width: 75%;
    padding-bottom: 300px;
  }
  .sobre-nos-datos{
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .datos{
    color: #fff;
    text-align: center;
    width: 20%;
  }
  .datos h2{
    font-size: 2.5em;
    
  }
  .datos p{
    
    font-size: 1.2em;
  }
  /* servicios */

   
  .servicios .servicio{
    width: 70%;
    height: 100px;
   
    
  }
  .servicios-generales{
    height: 720px;
    
  }
  .servicios{
   margin-top: -50px;
   
  }
  /* nuestros profesionales */
  
.nuestro-equipo{
  
  height: 1100px;
  margin-bottom: 50px;
 
}
.equipo{
  flex-direction: column;
  
}
.foto p{
  margin-bottom: 20px;
}

}
@media screen and (max-width: 600px){


.contenedor-nav{
    
    height: 650px;
}
.nav{
    padding: 0 10px;
}

.menu-nav{
   position: fixed;
   background: #66adb6;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   top: 0;
   right: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;
   clip-path: circle(0.0% at 100% 0);
   
}
.nav .menudos{
    -webkit-clip-path: circle(150% at 100% 0);
    clip-path: circle(150% at 100% 0);
}
.nav .enlaces-header a{
    color: #fff;
}
.hamburguer{
    display: block;
}
.textos-slider h3{
  font-size: 1em;
}
.titulos{
  font-size: 1.9em;
}
/* sobre nosotros */

.sobre-nos >img{
  width: 70%;
  padding-bottom: 300px;
}
.textos-sobren p{
  font-size: 1.2em;
}


}
@media screen and (max-width: 360px){

  .contenido-slider{
    
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
        
  }
  .textos-slider{
    width: 100%;
    height: 90px; 
  }
 
  .textos-slider h3{
    font-size: 1.3em;
    color: #000;
  }
  
  /* sobre nosotros */
  
  .sobre-nos >img{
    width: 70%;
    padding-bottom: 300px;
  }
  .textos-sobren p{
    font-size: 1.2em;
  }
  .sobre-nos-datos{
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .servicios .servicio{
    width: 100%;
  }
  
  .servicios-generales{
    margin-top: 50px;
  }
  .foto{
    width: 50%;
  }
  .foto h4{
    font-size: 1.1em;
  }
  .foto p{
    font-size: 15px;
  }

  .info-contacto{
    
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
  }
  .direccion{
   
    margin-top: 10px;
  }
  .horarios{
   
    margin-top: 10px;
  }
  footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .partFooter{
    width: 100%;
  }
  .partFooter h4{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
}
  



